{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>New RSVP Page</h1>

    <p>
	User data will load here. 
    </p>

    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
