{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>New RSVP Page</h1>

    <p>
	User data will load here. 
    </p>


<div class="l-contain">

    <h1><center>Please sign in to view this page.<center></h1>

    <form class="resend-email l-grid-u" action="/updateUser" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        Email Address: <input type="text" name="email" placeholder="Email Address">
        Password: <input type="password" name="password" placeholder="Password">


        <div class="resend-email l-grid-u">
            Title: <input type="text" name="title" placeholder="Title">
            Full Name: <input type="text" name="name" placeholder="Full Name">
        </div>

        <div class="resend-email l-grid-u">
            Allergies: <input type="text" name="allergies" placeholder="Alergies">
            Food Preferences: <input type="text" name="name" placeholder="Vegetarian/Vegan/None">
        </div>

        <div class="resend-email l-grid-u">
            Attending: <input type="checkbox" name="attending" value="is_attending"> YES! 
            <input type="checkbox" name="attending" value="not_attending"> No
            Number Attending: <input type="text" name="number_attending" placeholder="Number Attending">
            Attending Names: <input type="text" name="attending_names" placeholder="Attending Names">
        </div>
        
        <div class="resend-email l-grid-u">
        
        </div>
        
        <div class="resend-submit l-grid-u">
            <button type="submit" data-icon="">Submit</button>
        </div>
    </form>
</div>



    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
