{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>New RSVP Page</h1>

    <p>
	User data will load here. 
    </p>


<div class="l-contain">

    <h1><center>Please sign in to view this page.<center></h1>

    <form class="resend l-grid" action="/updateUser" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        <input type="text" name="email" placeholder="Email Address">

        <div class="resend-email l-grid-u">
            <input type="password" name="password" placeholder="Password">
        </div>

        <div class="resend-email l-grid-u">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="name" placeholder="Full Name">
        </div>

        <div class="resend-submit l-grid-u">
            <button type="submit" data-icon="s">Login</button>
        </div>
    </form>
</div>



    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
