{{setPageTitle "You are invited!"}}
{{setActiveNav "Invited"}}

<div class="l-contain">

    <h1><center>Please sign in to view this page.<center></h1>

    <form class="resend l-grid" action="/authController" method="POST">
        <input type="text" name="username" placeholder="Username">

        <div class="resend-email l-grid-u">
            <input type="text" name="password" placeholder="Password">
        </div>

        <div class="resend-submit l-grid-u">
            <button type="submit" data-icon="s">Login</button>
        </div>
    </form>
</div>


