{{setPageTitle "Wedding Party Itinerary"}}
{{setActiveNav "party_itinerary"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Party Itinerary</h1>
    <p>
	This page may change often so please make sure to check back when possible. 
    </p>


</div>
