{{setPageTitle "Wedding Party Itinerary"}}
{{setActiveNav "party_itinerary"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Placeholder For Party Itinerary.</h1>

    <p>
	This page will only be available to people listed as part of the wedding party. 
	It will automatically show up on the "top nav" on every page after login. 
    </p>

    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
