{{setPageTitle "Wedding Party Itinerary"}}
{{setActiveNav "party_itinerary"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Party Itinerary</h1>
    <p>
	This page may change often so please make sure to check back when possible. 
    </p>

    <h2><u> Friday June 20th (1 Day Pre-Wedding)</h2></u>
    <p>
    <li>12:00 - 4:00 PM Early Setup</li>
    <li>4:00 PM Rehersal</li>
    <li>5:00 PM Rehersal Dinner</li>
    <li>6:00 PM Get some rest!</li>
    </p>

    <h3><strong>Ceremony</strong></h3>
    <li>4:00 PM - Ceremony Starts!</li>
    <h3><strong>Reception</strong></h3>
    <li>5:10 PM - Reception Starts</li>
    <li>5:15 PM - Dinner Starts</li>
    </p>
    
</div>
