{{setPageTitle "Wedding Party Itinerary"}}
{{setActiveNav "party_itinerary"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Party Itinerary.</h1>
    <p>
	If you are on this page, you are part of the wedding party or are helping with the event. 
	This page may change often so please make sure to check back when possible. 
    </p>

    <h2><u> Thursday June 19th (2 Days Pre-Wedding)</h2></u>
    <p>
     <li>TBA - ? Stag Party ?</li>
    </p>

    <h2><u> Friday June 20th (1 Day Pre-Wedding)</h2></u>
    <p>
    <li>12:00 - 4:00 PM Early Setup</li>
    <li>4:00 PM Rehersal</li>
    <li>5:00 PM Rehersal Dinner</li>
    <li>6:00 PM Get some rest!</li>
    </p>

    <h2><u> Saturday June 21th (!Wedding Day!)</h2></u>
    <p>
    <h3>Pre-Ceremony</h3>
    <li>10:00 AM - Hair</li>
    <li>10:00 AM - 2:00 PM Setup</li>
    <li>2:00 PM - Suit UP!</li>
    <li>3:00 PM - Pictures</li>
    <h3>Ceremony</h3>
    <li>3:30 PM - Start Background Music</li>
    <li>4:00 PM - Ceremony Starts!</li>
    <li>4:05 PM - Bride enters</li>
    <li>4:45 PM - Processional</li>
    <li>4:45 - 5:10 PM - Move Chairs to Reception</li>
    <h3>Reception</h3>
    <li>5:10 PM - Reception Starts</li>
    <li>5:15 PM - Dinner Starts</li>
    <li>5:30 PM - Toasts(BestMan&Maid of Honor, Open mic for shor period of time).</li>
    <li>6:00 PM - Dancing/Party Starts</li>
    </p>
    
    <h2><u> Sunday June 22nd (1 Day Post-Wedding)</h2></u>
    <p>
    <li> Clean Up Starts</li>
    </p>

</div>
