{{setPageTitle "Pledge"}}
{{setActiveNav "Pledge"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Pledge!</h1>
    <p>
Check back soon for more details including pledge counters! <br>
If you want more information about pledging please contact Chas' Mom Lindsay who is coordinating gifts and pledges @ Lindsay0704@gmail.com <br>

    </p>

</div>
