{{setPageTitle "Pledge"}}
{{setActiveNav "Pledge"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>Pledge!</h1>
    <p>
	If you are on this page, you are part of the wedding party or are helping with the event. 
	This page may change often so please make sure to check back when possible. 
    </p>

</div>
