{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
In leu of more traditional gifts Chas and Fiona are hoping for some contributions to some larger gifts that they would love to have!
 How do you contribute? Chas’ mom has offered to coordinate this “crowdgifting”, by clicking “Pledge!” you will be taken to a form that will send her an e-mail.
  You can then coordinate with her to decide which gift is best for you!
  
If you are interested in a more traditional gift check out our registries on: <a href="#">Amazon.com</a> & ____
    </p>

    <div class="l-grid-1-2">
    </div>

    <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Camera & Tripod (Nikon d5200)</a></h2>
            <p>
            Fiona and Chas are photography lovers and are eager to share memories of their honeymoon and perhaps more of the family as it grows!
 To that end they are really looking for a professional camera to capture those memories.
 This is the kind of gift that is far beyond what they would expect to get but are hoping that you might contribute!
 Join the wedding crowdgifting revolution!
 They are hoping to have a budget of X with which to purchase a camera and Tripod <u>BEFORE THE WEDDING</u>.
            </p>

            <p class="donate">
                <center><a class="button" data-icon="&#9658" href="#">Pledge!</a></center>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p><img src="/img/camera.png"></p>
        </div>
    </div>

   <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Playstation 4 & Lego Games</a></h2>
            <p>
		<p><img src="/img/ps4.jpg"></p>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p>Playstation 4 and LEGO Games!</p>
		    <p class="donate">
                <center><a class="button" data-icon="&#9658" href="#">Pledge!</a></center>
            </p>
		
        </div>
    </div>

   <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Commuter Bike Fund</a></h2>
            <p>
            Help Finoa get a commuter bike to go riding with Chas.
            </p>

            <p class="donate">
                <center><a class="button" data-icon="&#9658" href="#">Pledge!</a></center>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p><img src="/img/Bike.jpg"></p>
        </div>
    </div>

   <div class="break"></div>


    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Shore Excursions</a></h2>
            <p>
Chas’ Dad is graciously covering much of the cost of the Honeymoon but there are several extras that we would love to do while on the ship!
 These excursions range from $200-$500 per person and range from helicopter tours to guided glacier treks. Examples Below!
            </p>


            <p class="donate">
                <center><a class="button" data-icon="&#9658" href="#">Pledge!</a></center>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p><img src="/img/walkabout.png"></p>
        </div>
    </div>


    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Playstation 4 & Lego Games</a></h2>
            <p>
		<p><img src="/img/ps4.jpg"></p>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p>Playstation 4 and LEGO Games!</p>
		    <p class="donate">
                <center><a class="button" data-icon="&#9658" href="#">Pledge!</a></center>
            </p>
		
        </div>
    </div>

    <p>
Footer here
    </p>
</div>
