{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
If you would like to get us a gift, we would appreciate it but it isn't
necessary. Since we both have been living on our own for some time we don't
need many of the traditional wedding items. We do however have some larger
things that we would really appreicate having right now and so we had the
idea to make it so that many people could put something in on a larger gift
instead. Here are some things that we would really like to have.
    </p>

    <div class="l-grid-1-2">
    </div>

    <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Playstation 4 & Lego Games</a></h2>
            <p>
		<p><img src="/img/ps4.jpg"></p>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p>Playstation 4 and LEGO Games!</p>
		    <p class="donate">
                <center><a class="button" data-icon="&#9658" href="/pledge/">Pledge!</a></center>
            </p>
		
        </div>
    </div>

   <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Commuter Bike Fund</a></h2>
            <p>
            Help Finoa get a commuter bike to go riding with Chas.
            </p>

            <p class="donate">
                <center><a class="button" data-icon="&#9658" href="/pledge/">Pledge!</a></center>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p><img src="/img/Bike.jpg"></p>
        </div>
    </div>

   <div class="break"></div>


    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Shore Excursions</a></h2>
            <p>
Chas’ Dad is graciously covering much of the cost of the Honeymoon but there are several extras that we would love to do while on the ship!
 These excursions range from $200-$500 per person and range from helicopter tours to guided glacier treks. Examples Below!
            </p>


            <p class="donate">
                <center><a class="button" data-icon="&#9658" href="/pledge/">Pledge!</a></center>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p><img src="/img/walkabout.png"></p>
        </div>
    </div>


    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Future Home Fund</a></h2>
            <p>
		<p><img src="/img/house.jpg"></p>
            </p>
        </div>
        
<div class="l-grid-u l-contain">
            <h2></h2>
		<p>Help us save for our future home together.</p>
		    <p class="donate">
                <center><a class="button" data-icon="&#9658" href="/pledge/">Pledge!</a></center>
            </p>
		
        </div>
    </div>

    <p>
    If you would like to get a more traditional gift, we have also created an
amazon wedding registry: <a href="http://www.amazon.com/registry/wedding/32VZVS9V8E23H">Here</a>
    </p>
</div>
