{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
In leu of more traditional gifts Chas and Fiona are hoping for some contributions to some larger gifts that they would love to have!
 How do you contribute? Chas’ mom has offered to coordinate this “crowdgifting”, by clicking “Pledge!” you will be taken to a form that will send her an e-mail.
  You can then coordinate with her to decide which gift is best for you!
  
If you are interested in a more traditional gift check out our registries on: <a href="#">Amazon.com</a> & ____
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.amazon.com/registry/wedding/#">
                <img src="/img/amazon.png">
            </a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="#">
                <img src="/img/#.png">
            </a>
        </div>
    </div>

    <div class="break"></div>

    <div class="l-grid-1-2">
        <div class="l-grid-u l-contain">
            <h2><a href="#">Camera & Tripod</a></h2>
            <p>
Fiona and Chas are photography lovers and are eager to share memories of their honeymoon and perhaps more of the family as it grows!
 To that end they are really looking for a professional camera to capture those memories.
 This is the kind of gift that is far beyond what they would expect to get but are hoping that you might contribute!
 Join the wedding crowdgifting revolution!
 They are hoping to have a budget of X with which to purchase a camera and Tripod <u>BEFORE THE WEDDING</u>.
            </p>

            <p class="donate">
                <center><a class="button" href="#">Pledge!</a></center>
            </p>
        </div>


    </div>

    <p>
Footer here
    </p>
</div>
