{{setPageTitle "Admin Page"}}
{{setActiveNav "Admin"}}

<div class="l-contain">

    <h1><center>Placeholder for Administration functions<center></h1>

This page is only accessible if you are an administrator user.
    
</div>
