{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        We’ve reserved blocks of rooms at the following hotels in the area, all under the name: <b>“____”</b>.
    </p>

    <p class="callout">
        You should <b>call the hotels to make a reservation</b>, their websites will show they are fully booked because of our room blocks.
    </p>

    <h2>Hotel1_Name</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="Hotel_Website_URL">Hotel1 Website</a></li>
                <li><b>Phone:</b> 307-xxx-xxxx</li>
                <li>Rooms bookable</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="Map_To_Hotel1">
                    Address_Hotel1<br>
                    Address2_Hotel1
                </a>
            </address>
        </div>
    </div>

    <h2>Hotel2_Name</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="Hotel2_Website_URL">Hotel2 Website</a></li>
                <li><b>Phone:</b> 307-xxx-xxxx</li>
                <li>Rooms bookable</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="Map_To_Hotel2">
                    Address_Hotel2<br>
                    Address2_Hotel2
                </a>
            </address>
        </div>
    </div>

    <h2>Hotel3_Name</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="Hotel3_Website_URL">Hotel3 Website</a></li>
                <li><b>Phone:</b> 307-xxx-xxxx</li>
                <li>Rooms Bookable</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="Map_To_Hotel3">
                    Address_Hotel3<br>
                    Address2_Hotel3
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <p>
        The following are some other recommendations in the area, but we were <b>unable blocks rooms</b> at these hotels:
    </p>

    <h2>Hotel4_Name</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="Hotel4_website_URL">Hotel4 Website</a></li>
                <li><b>Phone:</b> 307-xxx-xxxx</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to become available <em>after</em> <strong>September 5th</strong>.
                </li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="Map_To_Hotel4">
                    Address_Hotel4<br>
                    Address2_Hotel4
                </a>
            </address>
        </div>
    </div>

    <h2>Hotel5_Name</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="Hotel5_Website_URL">Hotel5_Website</a></li>
                <li><b>Phone:</b> 307-xxx-xxxx</li>
                <li><em>No rooms blocked</em>, Bed &amp; Breakfast</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="Map_To_Hotel5">
                    Address_Hotel5<br>
                    Address2_Hotel5
                </a>
            </address>
        </div>
    </div>
</div>
