{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        We’ve reserved blocks of rooms at the following hotels in the area, all under the name: <b>“Galey/Seifer”</b> Please reserve before May 15th.
    </p>

    <p class="callout">
        You should <b>call the hotels to make a reservation</b>, their websites will show they are fully booked because of our room blocks.
    </p>

    <h2>Holiday Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.ihg.com/holidayinn/hotels/us/en/sheridan/shrwy/hoteldetail?cm_mmc=GoogleMaps-_-hi-_-USEN-_-shrwy">Holiday Inn Website</a></li>
                <li><b>Phone:</b> 307-672-8931</li>
                <li>25 Rooms bookable @ $99 + 10% tax.</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Holiday+Inn+Sheridan-Convention+Center/@44.7783763,-106.9389441,17z/data=!4m2!3m1!1s0x0:0x7dce63f52a108dd2">
                    1809 Sugarland Dr.<br>
                    Sheridan Wy, 82801
                </a>
            </address>
        </div>
    </div>

    <h2>Candlewood Suites</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.ihg.com/candlewood/hotels/us/en/sheridan/shrcw/hoteldetail?cm_mmc=GoogleMaps-_-cw-_-USEN-_-shrcw">Candlewood Suites Website</a></li>
                <li><b>Phone:</b> 307-675-2100</li>
                <li>10 Rooms bookable @ $129 + tax.</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Candlewood+Suites+Sheridan/@44.7801941,-106.9381108,17z/data=!3m1!4b1!4m2!3m1!1s0x5335f00ed5581417:0xdb98155c02e70765">
                    1709 Sugarland Dr.<br>
                    Sheridan Wy, 82801
                </a>
            </address>
        </div>
    </div>

    <h2>Best Western</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.sheridancenter.com/">Best Western Website</a></li>
                <li><b>Phone:</b> 307-674-7421</li>
                <li>10 Rooms Bookable @ $140 + tax</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Best+Western+Sheridan+Center/@44.7895185,-106.9681795,13z/data=!4m5!1m2!2m1!1sBest+Western+Sheridan,+WY!3m1!1s0x0:0xf3d71b89446c7a7b">
                    612 N. Main St.<br>
                    Sheridan, WY 82801
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <p>
        The following are some other recommendations in the area, but we were <b>unable</b> to book block of rooms at these hotels:
    </p>

    <h2>Wingate</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.wingatehotels.com/hotels/wyoming/sheridan/wingate-by-wyndham-sheridan-wy/hotel-overview?cid=local">Wingate Website</a></li>
                <li><b>Phone:</b> 307-675-1101</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to go quickly due to a local music festival.
                </li>
                <li> Rooms cost ~ $179 + tax </li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Wingate+by+Wyndham+Sheridan/@44.806084,-106.9281756,17z/data=!3m1!4b1!4m2!3m1!1s0x5335e549c6d103f9:0x1235d39f7fe4b865">
                    1950 E. 5th St<br>
                    Sheridan, WY 82801
                </a>
            </address>
        </div>
    </div>

    <h2>Hampton Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://hamptoninn3.hilton.com/en/index.html">Hampton Inn Website</a></li>
                <li><b>Phone:</b> 307-673-2734</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to go quickly due to a local music festival.
                </li>
                <li> Rooms cost ~ $239 + tax </li>
                </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Hampton+Inn+Sheridan/@44.8067471,-106.9399441,17z/data=!3m1!4b1!4m2!3m1!1s0x5335facaf98dc8ed:0xb047fbae7ea6cd94">
                    980 Sibley Cir.<br>
                    Sheridan, Wy 82801
                </a>
            </address>
        </div>
    </div>
    
        <h2>Super 8</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.super8.com/hotels/wyoming/sheridan/super-8-sheridan/hotel-overview?cid=local">Super 8 Website</a></li>
                <li><b>Phone:</b> 307-672-9725</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to go quickly due to a local music festival.
                </li>
                <li> Rooms cost ~ $120 + tax </li>
                </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Super+8+Sheridan/@44.8249638,-106.9574705,17z/data=!3m1!4b1!4m2!3m1!1s0x5335fb2916078543:0xd15fb7da9e447f81">
                    2435 N. Main St.<br>
                    Sheridan, WY 82801
                </a>
            </address>
        </div>
    </div>
    
        <h2>Quality Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.qualityinn.com/hotel-sheridan-wyoming-WY034?source=gglocaloz">Quality Inn Website</a></li>
                <li><b>Phone:</b> 307-672-5098</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to go quickly due to a local music festival.
                </li>
                <li> Rooms cost ~ $118 + tax </li>
                </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Quality+Inn/@44.7731108,-106.9348412,17z/data=!3m1!4b1!4m2!3m1!1s0x5335f0113d150d1b:0x5b42dd5b6b8f3e23">
                    1450 E. Brundage Ln.<br>
                    Sheridan, WY 82801
                </a>
            </address>
        </div>
    </div>
    
        <h2>Days Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.daysinn.com/hotels/wyoming/sheridan/days-inn-sheridan/hotel-overview?reg=Local-_-all-_-DI-_-all&cid=IP_Local&wid=local">Days Inn Website</a></li>
                <li><b>Phone:</b> 307-225-3297</li>
                <li>
                    <em>No rooms blocked</em>, rooms are expected to go quickly due to a local music festival.
                </li>
                <li> Rooms cost ~ $132 + tax </li>
                </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://www.daysinn.com/hotels/wyoming/sheridan/days-inn-sheridan/hotel-overview?reg=Local-_-all-_-DI-_-all&cid=IP_Local&wid=local">
                    1104 E. Brundage Ln.<br>
                    Sheridan, WY 82801
                </a>
            </address>
        </div>
    </div>
</div>
