{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        We understand that many of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to Wyoming as easy as possible.
    </p>

    <h2>[Flying] Sheridan County Airport </h2>
    <p>
		Driving from Sheridan County Airport will take ~15 minutes by car. <br>
		Map: <a href="https://www.google.com/maps/dir/Sheridan+County+Airport,+908+W+Brundage+Ln,+Sheridan,+WY+82801/44.7173858,-106.9657495/@44.7492184,-107.00975,10411m/data=!3m2!1e3!4b1!4m9!4m8!1m5!1m1!1s0x5335f07d7f3cd72d:0xd0d48aa0d32c4ab8!2m2!1d-106.980522!2d44.769079!1m0!3e0"> Google Directions </a> 
	</p>

    <h2>[Flying] Denver CO - DIA</h2>
    <p>
		Driving from DIA in Denver will take ~6 hours by car. <br>
		Map: <a href="https://www.google.com/maps/dir/Denver+International+Airport,+8500+Pe%C3%B1a+Blvd,+Denver,+CO+80249/44.7173858,-106.9657495/@44.734887,-107.0512604,20159m/data=!3m1!1e3!4m9!4m8!1m5!1m1!1s0x876c7f2a98ff44ff:0x49583bb435b59c6a!2m2!1d-104.673829!2d39.849312!1m0!3e0"> Google Directions </a> 
	</p>

    <h2>[Flying] Billings MT - BIL</h2>
    <p>
		Driving from BIL in Billings will take ~2 hours by car. <br>
		Map: <a href="https://www.google.com/maps/dir/Billings+Logan+International+Airport,+1901+Terminal+Cir,+Billings,+Mt+59105/44.7173858,-106.9657495/@45.2683013,-108.8395979,294470m/data=!3m2!1e3!4b1!4m9!4m8!1m5!1m1!1s0x53487b9e2041ac57:0xe8dee8b106170f54!2m2!1d-108.544089!2d45.808187!1m0!3e0"> Google Directions </a> 
    </p>
    
    <h2>[Driving] Laramie WY</h2>
    <p>
		Driving from Laramie Wyoming will take ~4.5 hours by car.  <br>
		Map: <a href="https://www.google.com/maps/dir/Laramie,+WY/44.7173858,-106.9657495/@42.9980625,-108.1568452,612026m/data=!3m2!1e3!4b1!4m9!4m8!1m5!1m1!1s0x876884f78eda9b79:0x8e89c1f7a1c4e593!2m2!1d-105.5911007!2d41.3113669!1m0!3e0"> Google Directions </a> 
    </p>
    
</div>
