{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        We understand that many of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to Wyoming as easy as possible.
    </p>

    <h2>[Flying] Denver CO - DIA</h2>
    <p>
		Driving from DIA in Denver will take ~ hours by car. 
		Map: <a href=""> Google Directions </a> 
	</p>


    <h2>[Flying] Billings MT - BIL</h2>
    <p>
		Driving from BIL in Billings will take ~ hours by car.
		Map: <a href=""> Google Directions </a> 
    </p>
    
    <h2>[Driving] - Laramie WY</h2>
    <p>
		Driving from Laramie Wyoming will take ~ hours by car. 
		Map: <a href=""> Google Directions </a> 
    </p>
    
</div>
