{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Things To Do in the Area</h1>

    <p>
Please check back later. We will update this page with some interesting things to do in Sheridan WY and with a list of suggested restaurants.
    </p>

</div>
