{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Placeholder For Ride-Share pagea</h1>

    <p>
	Check back often! Please post below if you have space available for car-pool. 
    </p>

    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href=""></a></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="">
                    addy1<br>
                    addy2
                </a>
            </address>
        </div>
    </div>

</div>
