{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="ride_share"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Ride-Share</h1>

    <p>
	Check back often! Please post below if you have space available for car-pool. 
    </p>

    <h2></h2>
    <p>
     Check back often! This page is under construction, if you want to inquire directly about ride-shares send an email to cfwedding2014@gmail.com
    </p>

    <h2></h2>
    <p>
    </p>

</div>
