{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="ride_share"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Placeholder For Ride-Share pagea</h1>

    <p>
	Check back often! Please post below if you have space available for car-pool. 
    </p>

    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
